body{
    background-color: #D4C2B1;
    margin: 0;
    padding: 0;
}
#logo {
    width: 150px;
    
}



.caja{
    
    
    width: 940px;
    position: relative;
    margin: 0 auto;
    

}

header {
    background-color: black;
    padding: 20px 0;
}


nav {
    position: absolute;
    top: 95px;
    right: 0px;
}

nav li{
    display: inline;
    margin: 0 0 0 50px;
    
}



nav a{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav li:hover a{
    font-size: 32px ;
    color: #cf9097;
}





#caja-quienes-somos{
    
    width: 940px;
    position: relative;
    margin: 0 auto;
}